@theme {
  --font-sans: "Poppins-Regular";
  --font-poppins: "Poppins-Regular";
  --font-poppins-medium: "Poppins-Medium";
  --font-poppins-semibold: "Poppins-SemiBold";
  --font-poppins-bold: "Poppins-Bold";
}
